@model SuperKotob.Admin.Core.DataResponse<OfflinePackage>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "OfflinePackage";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Offline Packages</h2>

@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "OfflinePackages",
        SingleName = "OfflinePackage",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
{
 new GridField("Id")
        {
          Filter = new GridFieldFilter()
        {
        PreSelectedIds = Model.RequestInputs["Id"]
        }
        },
new GridField("Name", "Id", "Name")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/OfflinePackages/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        },
new GridField("PackageStartDate", "Id", "Package Start Date")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.WithoutSearch,
    AjaxSource = "/OfflinePackages/AutoComplete",
    PreSelectedIds = Model.RequestInputs["Id"]

    }
},
new GridField("PackageEndDate", "Id", "Package End Date")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.WithoutSearch,
    AjaxSource = "/OfflinePackages/AutoComplete",
    PreSelectedIds = Model.RequestInputs["Id"]

    }
},
new GridField("NewPrice", "Id", "Price")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.WithoutSearch,
    AjaxSource = "/OfflinePackages/AutoComplete",
    PreSelectedIds = Model.RequestInputs["Id"]

    }
},
new GridField("Color", "Id", "Color")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.WithoutSearch,
    AjaxSource = "/OfflinePackages/AutoComplete",
    PreSelectedIds = Model.RequestInputs["Id"]

    }
},
 new GridField("Description", "Id", "Description")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.WithoutSearch,
    AjaxSource = "/OfflinePackages/AutoComplete",
    PreSelectedIds = Model.RequestInputs["Id"]

    }
},
}
    });
}
