{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SuperMatjar_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "SuperAdmin",
            "ConnectionString": "Data Source=.;Initial Catalog=SuperMatjar;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.AdditionalCharges",
                    "Identifier": "AdditionalCharges",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Brands",
                    "Identifier": "Brands",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Categories",
                    "Identifier": "Categories",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerAddresses",
                    "Identifier": "CustomerAddresses",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CustomerCards",
                    "Identifier": "CustomerCards",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customers",
                    "Identifier": "Customers",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DeliveryMans",
                    "Identifier": "DeliveryMans",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DeliveryReports",
                    "Identifier": "DeliveryReports",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DeliveryStatus",
                    "Identifier": "DeliveryStatus",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Groups",
                    "Identifier": "Groups",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemBundles",
                    "Identifier": "ItemBundles",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemDeliveryReports",
                    "Identifier": "ItemDeliveryReports",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemOffers",
                    "Identifier": "ItemOffers",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Items",
                    "Identifier": "Items",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ItemTypes",
                    "Identifier": "ItemTypes",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderAdditionalCharges",
                    "Identifier": "OrderAdditionalCharges",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderDeliveryTripItems",
                    "Identifier": "OrderDeliveryTripItems",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderDeliveryTrips",
                    "Identifier": "OrderDeliveryTrips",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderItems",
                    "Identifier": "OrderItems",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Orders",
                    "Identifier": "Orders",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderStatus",
                    "Identifier": "OrderStatus",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.OrderTemplateTypes",
                    "Identifier": "OrderTemplateTypes",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Packagings",
                    "Identifier": "Packagings",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PromoCodes",
                    "Identifier": "PromoCodes",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ShoppingListActions",
                    "Identifier": "ShoppingListActions",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ShoppingLists",
                    "Identifier": "ShoppingLists",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ShoppingListTypes",
                    "Identifier": "ShoppingListTypes",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SupportTickets",
                    "Identifier": "SupportTickets",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SupportTicketTypes",
                    "Identifier": "SupportTicketTypes",
                    "Module": "SuperAdmin",
                    "ConnectionKey": "SuperAdmin",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SuperMatjar\\SuperMatjar.Web\\SuperMatjar.Web.csproj",
    "RootNamespace": "SuperMatjar",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}