
@{
    ViewBag.Title = "ClearSubscriptions";
}


<div class="jumbotron text-center">
    <h1 class="display-3">Are you sure  to clear all  Subscriptions for student tracks?</h1>
    <p class="lead">Subscriptions Count :-  @ViewBag.TrackSubscriptionCount </p>
    <hr>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="~/Tracks/ClearAllSubscriptions?TrackId=@ViewBag.TrackId">Clear All</a>
    </p>
</div>

