
@{
    ViewBag.Title = "AssignUserToRole";
}

<h2>AssignUserToRole</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div style="margin-top:20%">
    <h2 class="text-success text-center">you are created a new admin sucssfully</h2>
</div>
