@model SuperKotob.Admin.Core.DataResponse<PaymentMethodType>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "Country";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Payment Methods</h2>

@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "PaymentMethodTypes",
        SingleName = "PaymentMethodType",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
        {
        new GridField("Id")
        {
          Filter = new GridFieldFilter()
        {
        PreSelectedIds = Model.RequestInputs["Id"]
        }
        },
        new GridField("Name", "Id", "English Name")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/PaymentMethodTypes/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,

        new GridField("NameLT", "Id", "Arabic Name")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/PaymentMethodTypes/AutoComplete",
            PreSelectedIds = Model.RequestInputs["Id"]

            }
        },
         new GridField("TheFactor", "Id", "The Factor")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/PaymentMethodTypes/AutoComplete",
            PreSelectedIds = Model.RequestInputs["Id"]

            }
        },
         new GridField("InAppPurchase", "Id", "In AppPurchase")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/PaymentMethodTypes/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        },
  new GridField("Country.Name", "CountryId", "Country")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Countries/autocomplete",
            PreSelectedIds = Model.RequestInputs["CountryId"]
            }
        }
        ,
        }
    });
}
