 <!-- sidebar menu: : style can be found in sidebar.less -->
<!--This layout for SuperMatjar_LayoutMenu  project-->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>

    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-jpy"></i>
            <span>SKU Price Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Tracks/SetSKUPriceByZero?Password=">
                    <i class="fa fa-circle-o"></i> <span>Set SKUPrice By Zero</span>
                </a>
            </li>
            <li>
                <a href="/Tracks/ResetSKUPriceToOrginalPrice?Password=">
                    <i class="fa fa-circle-o"></i> <span>Set SKUPrice By Zero</span>
                </a>
            </li>

        </ul>

    </li>

    <!--Section Module-->
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-jpy"></i>
            <span>Section Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Countries">
                    <i class="fa fa-circle-o"></i> <span>Countries</span>
                </a>
            </li>
            <li>
                <a href="/Sections">
                    <i class="fa fa-circle-o"></i> <span>Sections</span>
                </a>
            </li>
            <li>
                <a href="/Categories">
                    <i class="fa fa-circle-o"></i> <span>Categories</span>
                </a>
            </li>
            <li>
                <a href="/SubCategories">
                    <i class="fa fa-circle-o"></i> <span>Sub Categories</span>
                </a>
            </li>
            <li>
                <a href="/Departments">
                    <i class="fa fa-circle-o"></i> <span>Departments</span>
                </a>
            </li>
            <li>
                <a href="/Subjects">
                    <i class="fa fa-circle-o"></i> <span>Subjects</span>
                </a>
            </li>

            <li>
                <a href="/Tracks">
                    <i class="fa fa-circle-o"></i> <span>Tracks</span>
                </a>
            </li>


        </ul>
    </li>

    @*Course Module*@
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-open-file"></i>
            <span>Course Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Courses">
                    <i class="fa fa-circle-o"></i> <span>Courses</span>
                </a>
            </li>
            @*<li>
                    <a href="/CourseDepartments">
                        <i class="fa fa-circle-o"></i> <span>Course Departments</span>
                    </a>
                </li>*@

            <li>
                <a href="/Groups">
                    <i class="fa fa-circle-o"></i> <span>Groups</span>
                </a>
            </li>
            <li>
                <a href="/Contents">
                    <i class="fa fa-circle-o"></i> <span>Contents</span>
                </a>
            </li>
            <li>
                <a href="/VideoQuestions">
                    <i class="fa fa-circle-o"></i> <span>Video Questions</span>
                </a>
            </li>
            <li>
                <a href="/Replies">
                    <i class="fa fa-circle-o"></i> <span>Replies</span>
                </a>
            </li>


        </ul>
    </li>


    @*Student Module*@
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-asterisk"></i>
            <span>Student Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Students">
                    <i class="fa fa-circle-o"></i> <span>Students</span>
                </a>
            </li>
            <li>
                <a href="/DisableReasons">
                    <i class="fa fa-circle-o"></i> <span>Disable Reasons</span>
                </a>
            </li>
            <li>
                <a href="/StudentDepartments">
                    <i class="fa fa-circle-o"></i> <span>Student Departments</span>
                </a>
            </li>
            <li>
                <a href="/StudentPackages">
                    <i class="fa fa-circle-o"></i> <span>Student Packages</span>
                </a>
            </li>
            <li>
                <a href="/StudentCourses">
                    <i class="fa fa-circle-o"></i> <span>Student Courses</span>
                </a>
            </li>


            <li>
                <a href="/StudentCourses/StudentCourseReport">
                    <i class="fa fa-circle-o"></i> <span>Student Courses Report</span>
                </a>
            </li>
            <li>
                <a href="/StudentLives">
                    <i class="fa fa-circle-o"></i> <span>Student Lives</span>
                </a>
            </li>
            <li>
                <a href="/StudentSubjects">
                    <i class="fa fa-circle-o"></i> <span>Student Subjects</span>
                </a>
            </li>
            <li>
                <a href="/TrackSubscriptions">
                    <i class="fa fa-circle-o"></i> <span>Student Tracks</span>
                </a>
            </li>
            <li>
                <a href="/ContactUs">
                    <i class="fa fa-circle-o"></i> <span>Contact Us</span>
                </a>
            </li>

            <li>
                <a href="/StudentTransactions">
                    <i class="fa fa-circle-o"></i> <span>Student Transactions</span>
                </a>
            </li>
            <li>
                <a href="/StudentPromocodes">
                    <i class="fa fa-circle-o"></i> <span>Student Promocodes</span>
                </a>
            </li>
            <li>
                <a href="/StudentNotifications">
                    <i class="fa fa-circle-o"></i> <span>Student Notifications</span>
                </a>
            </li>

            <li>
                <a href="/Favourites">
                    <i class="fa fa-circle-o"></i> <span>Favourite</span>
                </a>
            </li>


        </ul>
    </li>

    <!--Teacher Module-->
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-text-background"></i>
            <span>Teacher Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Teachers">
                    <i class="fa fa-circle-o"></i> <span>Teachers</span>
                </a>
            </li>
            <li>
                <a href="/TeacherSubjects">
                    <i class="fa fa-circle-o"></i> <span>Teacher Subjects</span>
                </a>
            </li>
            <li>

                <a href="/TeacherNotifications">
                    <i class="fa fa-circle-o"></i> <span>Teacher Notifications</span>
                </a>
            </li>
            <li>
                <a href="/TeacherTransactions">
                    <i class="fa fa-circle-o"></i> <span>Teacher Transaction</span>
                </a>
            </li>
            <li>
                <a href="/TeacherAssistants">
                    <i class="fa fa-circle-o"></i> <span>Teacher Assistants</span>
                </a>
            </li>
        </ul>
    </li>

    <!--Exam Module-->
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-text-background"></i>
            <span>Exam Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Exams">
                    <i class="fa fa-circle-o"></i> <span>Exams</span>
                </a>
            </li>
            <li>
                <a href="/ExamQuestions">
                    <i class="fa fa-circle-o"></i> <span>Exam Questions</span>
                </a>
            </li>
            <li>

                <a href="/StudentExams">
                    <i class="fa fa-circle-o"></i> <span>Student Exams</span>
                </a>
            </li>
            <li>

                <a href="/StudentExams/StudentExamReport">
                    <i class="fa fa-circle-o"></i> <span>Student Exams Report</span>
                </a>
            </li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-text-background"></i>
            <span>Live Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/Lives">
                    <i class="fa fa-circle-o"></i> <span>Lives</span>
                </a>
            </li>
            <li>
                <a href="/LiveAttachments">
                    <i class="fa fa-circle-o"></i> <span>Live Attachemnts</span>
                </a>
            </li>
            <li>

                <a href="/LiveQuestions">
                    <i class="fa fa-circle-o"></i> <span>Live Questions</span>
                </a>
            </li>
            <li>

                <a href="/Replies?IsLiveReplies=1">
                    <i class="fa fa-circle-o"></i> <span>Live Replies</span>
                </a>
            </li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-text-background"></i>
            <span>OfflinePackages Module</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/OfflinePackages">
                    <i class="fa fa-circle-o"></i> <span>OfflinePackages</span>
                </a>
            </li>
             

        </ul>
    </li>
    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-th"></i>
                <span>Governorates Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/Countries">
                        <i class="fa fa-circle-o"></i> <span>Governorates</span>
                    </a>
                </li>

                <li>
                    <a href="/Cities">
                        <i class="fa fa-circle-o"></i> <span>Cities</span>
                    </a>
                </li>
            </ul>
        </li>*@
    <li>
        <a href="/Offers">
            <i class="glyphicon glyphicon-scissors"></i> <span>Offers</span>
        </a>
    </li>
    <li>
        <a href="/Promocodes">
            <i class="glyphicon glyphicon-scissors"></i> <span>Promo Codes</span>
        </a>
    </li>
    <li>
        <a href="/TermAndConditions">
            <i class="glyphicon glyphicon-wrench"></i> <span>Terms And Conditions</span>
        </a>
    </li>

    <li>
        <a href="/SystemAdmins">
            <i class="glyphicon glyphicon-adjust"></i> <span>Admins</span>
        </a>
    </li>

    <li>
        <a href="/Settings">
            <i class="glyphicon glyphicon-adjust"></i> <span>Settings</span>
        </a>
    </li>

    <li>
        <a href="/PaymentMethodTypes">
            <i class="glyphicon glyphicon-adjust"></i> <span>Payment Methods</span>
        </a>
    </li>
    <li>
        <a href="/AboutUs/Edit/1">
            <i class="glyphicon glyphicon-adjust"></i> <span>About Us</span>
        </a>
    </li>

    <li>
        <a href="/SystemNotifications">
            <i class="glyphicon glyphicon-adjust"></i> <span>System Notifications</span>
        </a>
    </li>
</ul>
