@model SuperKotob.Admin.Core.DataResponse<CourseDepartment>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "CourseDepartment";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Course Departments</h2>
@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "CourseDepartments",
        SingleName = "CourseDepartment",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
        {
        new GridField("Id")
        {
          Filter = new GridFieldFilter()
        {
        PreSelectedIds = Model.RequestInputs["Id"]
        }
        },
        new GridField("Course.CourseTrack", "CourseId", "Course")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Courses/autocomplete",
            PreSelectedIds = Model.RequestInputs["CourseId"]
            }
        }
        ,

        new GridField("Department.DepartmentSubCategory", "DepartmentId", "Department")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Departments/AutoComplete",
            PreSelectedIds = Model.RequestInputs["DepartmentId"]

            }
        },
       
        }
    });
}
 