<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>
	<configBuilders>
		<builders>
			<add name="Secrets" userSecretsId="e44f4fc0-d6e2-42c6-9839-ed94a2a74c9a" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>
	<connectionStrings>
		<add name="AuthDbConnection" connectionString="Data Source=localhost;Initial Catalog=TollabDB;User Id=sa;Password=sa@123456;" providerName="System.Data.SqlClient" />
		<add name="TollabContext" connectionString="Data Source=localhost;Initial Catalog=TollabDB;User Id=sa;Password=sa@123456;" providerName="System.Data.SqlClient" />
		<!--<add name="AuthDbConnection" connectionString="Server=tcp:tollabserver.database.windows.net,1433;Initial Catalog=TollabDB;Persist Security Info=False;User ID=sadmin;Password=TollabAdminPa$$word;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="TollabContext" connectionString="Server=tcp:tollabserver.database.windows.net,1433;Initial Catalog=TollabDB;Persist Security Info=False;User ID=sadmin;Password=TollabAdminPa$$word;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="iosStudentCer" value="\Certificates\tollab_student_aps_final2020.p12" />
		<add key="iosStudentPassword" value="tollab@123" />
		<add key="iosTeacherCer" value="\Certificates\tollab_teacher_aps_final2020.p12" />
		<add key="iosTeacherPassword" value="tollab@123" />
		<add key="Push.Android.AppId" value="923292051193" />
		<add key="Push.Android.ServerToken" value="AAAA1vh-pvk:APA91bHegzIY4UZFNASmzK-cM_oBSprI96tdo8gDQjZjRwimvt_m3p4C62skYYQf3WKNS1VtfjEJWyy8mXkCFhuxoTAsGlGElLbPcS4bPlUkDT0HrFv3l-TvTJ1cuUsawsLdnGvnwx0G" />
		<add key="push_enabled" value="true" />
		<!--<add key="ClientProfile" value="SuperMatjar" />-->
		<add key="ClientProfile" value="" />
		<add key="TechnicianImagesPath" value="ws/Uploads/TechnicianImages/" />
		<add key="SectionImagesPath" value="ws/Uploads/SectionImages/" />
		<add key="OrderPhotoImagesPath" value="ws/Uploads/OrderPhotoImages/" />
		<add key="OrderComplaintImagesPath" value="ws/Uploads/OrderComplaintImages/" />
		<add key="SystemComplaintPath" value="ws/Uploads/SystemComplaintImages/" />
		<add key="PreviousProjectPhotoPath" value="ws/Uploads/PreviousProjectImages/" />
		<add key="BankAccountImagesPath" value="ws/Uploads/BankAccountImages/" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.6.1" maxRequestLength="1048576000" executionTimeout="108000" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 1024MB (1GB) -->
				<!--<requestLimits maxAllowedContentLength="1048576000" />-->
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<staticContent>
			<mimeMap fileExtension=".epub" mimeType="application/epub" />
		</staticContent>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>