@model SuperKotob.Admin.Core.DataResponse<StudentTransaction>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "StudentTransaction";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Student Transactions</h2>

@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "StudentTransactions",
        SingleName = "StudentTransaction",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
        {
        new GridField("Id")
        {
          Filter = new GridFieldFilter()
        {
        PreSelectedIds = Model.RequestInputs["Id"]
        }
        },
        new GridField("Reason", "Id", "English Reason")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.WithoutSearch,
            AjaxSource = "/StudentTransactions/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,
          new GridField("ReasonLT", "Id", "Arabic Reason")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.WithoutSearch,
            AjaxSource = "/StudentTransactions/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,

        new GridField("ReferenceNumber", "Id", "Reference Number")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/StudentTransactions/AutoComplete",
            PreSelectedIds = Model.RequestInputs["Id"]

            }
        },
         new GridField("Amount", "Id", "Amount")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.WithoutSearch,
            AjaxSource = "/StudentTransactions/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        },
            new GridField("PromocodeNumber", "Id", "Promocode")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.WithoutSearch,
            AjaxSource = "/StudentTransactions/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        },
  new GridField("CreationDate", "Id", "Creation Date")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.WithoutSearch,
            AjaxSource = "/Countries/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,
  new GridField("Student.Name", "StudentId", "Student")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Students/autocomplete",
            PreSelectedIds = Model.RequestInputs["StudentId"]
            }
        }
        ,
   new GridField("Course.Name", "CourseId", "Course")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Courses/autocomplete",
            PreSelectedIds = Model.RequestInputs["CourseId"]
            }
        }
        ,
     new GridField("Track.Name", "TrackId", "Track")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Tracks/autocomplete",
            PreSelectedIds = Model.RequestInputs["TrackId"]
            }
        }
        ,
        }
    });
}
<style>
    #edt {
        display: none;
    }

    #det {
        display: none;
    }

    /*#crt {
        display: none;
    }*/

    #txt {
        display: none;
    }
</style>
