@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<style>
    body {
        margin-top: 25%;
        background-image: url(/Content/photo_2019-09-05_15-11-19.jpg);
        background-repeat: repeat-x;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .panel-title {
        font-weight: bold;
        font-size: larger;
    }

    .checkbox.pull-right {
        margin: 0;
    }

    .pl-ziro {
        padding-left: 0px;
    }
</style>
@using (Html.BeginForm("BuyCourse", "PayMethods", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <input type="text" hidden name="PaymentKey" value="@ViewBag.PaymentKey" />
    <div class="container">
        <div class="row cont">
            <div class="col-xs-12 col-md-4 card">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="margin-left:15%;">
                            Buy Course By Course Code
                        </h1>
                        <br />
                        <h5>
                            Welcome, @ViewBag.StudentName
                        </h5>
                        <div class="checkbox pull-right">
                        </div>
                    </div>

                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="cardNumber" class="center-block">
                                    Enter Course Code
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="CourseCode" id="" placeholder="Course Code" required autofocus style="width:100%;" />
                                    @*<span class="input-group-addon"><span class="glyphicon"></span></span>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <input type="submit" value="Buy Now" class="btn btn-success btn-lg btn-block" role="button" />
                @{
                    var PaymentKey = ViewBag.PaymentKey;
                }
                <a href="/Pay/@PaymentKey" class="btn btn-primary btn-lg btn-block">Back</a>


            </div>
        </div>
    </div>






    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        </div>
    </div>
}