@model SuperKotob.Admin.Core.DataResponse<Offer>
    @using SuperKotob.Admin.Web.Models
    @using Tollab.Admin.Data.Models
    @using SuperKotob.Admin.Data.Models


    @{
        ViewBag.Title = "Country";
    }
    <style>
        #Details {
            display: none !important;
        }
    </style>
    <h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Offers</h2>

    @{
        Html.RenderPartial("_grid", new GridModel()
        {
            PluralName = "Offers",
            SingleName = "Offer",
            Errors = Model.Errors,
            Items = Model.Data.Select(x => x as DataModel).ToList(),
            PagingMeta = Model.Paging,
            Fields = new List<GridField>()
            {
            new GridField("Id")
            {
              Filter = new GridFieldFilter()
            {
            PreSelectedIds = Model.RequestInputs["Id"]
            }
            },
            new GridField("OrderNumber", "Id", "Order")
           {
                Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.Ajax,
                AjaxSource = "/Offers/AutoComplete",
                PreSelectedIds = Model.RequestInputs["Id"]

                }
            },
            new GridField("Tilte", "Id", "English Title")
            {
              Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.Ajax,
                AjaxSource = "/Offers/autocomplete",
                PreSelectedIds = Model.RequestInputs["Id"]
                }
            }
            ,

            new GridField("TitleLT", "Id", "Arabic Title")
           {
                Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.Ajax,
                AjaxSource = "/Offers/AutoComplete",
                PreSelectedIds = Model.RequestInputs["Id"]

                }
            },
             new GridField("Course.CourseTrack", "CourseId", "Course")
            {
              Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.Ajax,
                AjaxSource = "/Courses/autocomplete",
                PreSelectedIds = Model.RequestInputs["CourseId"]
                }
            },
             new GridField("Track.Name", "TrackId", "Track")
            {
              Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.Ajax,
                AjaxSource = "/Tracks/autocomplete",
                PreSelectedIds = Model.RequestInputs["TrackId"]
                }
            },
             new GridField("External Link","ExternalLink","Go To Link","",true )
                         {
                             Filter = new GridFieldFilter()
                             {
                                 Type = GridFieldFilterType.HyperLink
                             }
                         },
      new GridField("EndOfferDate", "Id", "End Offer Date")
            {
              Filter = new GridFieldFilter()
                {
                Type = GridFieldFilterType.WithoutSearch,
                AjaxSource = "/Offers/autocomplete",
                PreSelectedIds = Model.RequestInputs["Id"]
                }
            }
            ,
                     new GridField("Content",
                     new List<GridField>
                     {
                         new GridField("Content",  "http://tollab.com/dashboard-v2/ws/Images/OffersImages/", "Image",1)
                         {
                             Filter = new GridFieldFilter()
                             {
                                 Type = GridFieldFilterType.Photo,
                             }
                         },
                         new GridField("Content","VideoURL","Go To Video","",true )
                         {
                             Filter = new GridFieldFilter()
                             {
                                 Type = GridFieldFilterType.HyperLink
                             }
                         }
                     } , string.Empty){
                    Filter = new GridFieldFilter()
                    {
                        Type = GridFieldFilterType.ChooseFromMultibleFields,
                    }
                },
            }
        });
    }