@model SuperKotob.Admin.Core.DataResponse<SubCategory>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "Section";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Sub Categories</h2>

@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "SubCategories",
        SingleName = "SubCategory",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
        {
        new GridField("Id")
        {
          Filter = new GridFieldFilter()
        {
        PreSelectedIds = Model.RequestInputs["Id"]
        }
        },
        new GridField("SubCategoryCategory", "Id", "SubCategory-Category")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/SubCategories/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,
         new GridField("Name", "Id", "English Name")
        {
          Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/SubCategories/autocomplete",
            PreSelectedIds = Model.RequestInputs["Id"]
            }
        }
        ,
        new GridField("NameLT", "Id", "Arabic Name")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/SubCategories/AutoComplete",
            PreSelectedIds = Model.RequestInputs["Id"]

            }
        },
           new GridField("Category.CategorySection", "CategoryId", "Category-Section")
       {
            Filter = new GridFieldFilter()
            {
            Type = GridFieldFilterType.Ajax,
            AjaxSource = "/Categories/AutoComplete",
            PreSelectedIds = Model.RequestInputs["CategoryId"]

            }
        },

      new GridField("Department","Id","Show Departments","/Departments?SubCategoryId=",true )
      {
      Filter = new GridFieldFilter()
      {
          Type = GridFieldFilterType.HyperLink
      }
      },

        }
    });
}
