@model SuperKotob.Admin.Core.DataResponse<StudentSubject>
@using SuperKotob.Admin.Web.Models
@using Tollab.Admin.Data.Models.Views
@using SuperKotob.Admin.Data.Models


@{
    ViewBag.Title = "Subject";
}
<style>
    #Details {
        display: none !important;
    }
</style>
<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Subjects</h2>

@{
    Html.RenderPartial("_grid", new GridModel()
    {
        PluralName = "StudentSubjects",
        SingleName = "StudentSubject",
        Errors = Model.Errors,
        Items = Model.Data.Select(x => x as DataModel).ToList(),
        PagingMeta = Model.Paging,
        Fields = new List<GridField>()
{
new GridField("Id")
{
  Filter = new GridFieldFilter()
{
PreSelectedIds = Model.RequestInputs["Id"]
}
},
new GridField("Subject.SubjectDepartment", "SubjectId", "SubjectDepartment")
{
  Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.Ajax,
    AjaxSource = "/Subjects/autocomplete",
    PreSelectedIds = Model.RequestInputs["SubjectId"]
    }
}
,
 new GridField("Subject.Name", "SubjectId", "English Name")
{
  Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.Ajax,
    AjaxSource = "/Subjects/autocomplete",
    PreSelectedIds = Model.RequestInputs["SubjectId"]
    }
}
,
new GridField("Subject.NameLT", "SubjectId", "Arabic Name")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.Ajax,
    AjaxSource = "/Subjects/AutoComplete",
    PreSelectedIds = Model.RequestInputs["SubjectId"]

    }
},
     new GridField("Student.Name", "StudentId", "Student")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.Ajax,
    AjaxSource = "/Students/AutoComplete",
    PreSelectedIds = Model.RequestInputs["StudentId"]

    }
},
   new GridField("Department.DepartmentSubCategory", "DepartmentId", "Department-SubCategory")
{
    Filter = new GridFieldFilter()
    {
    Type = GridFieldFilterType.Ajax,
    AjaxSource = "/Departments/AutoComplete",
    PreSelectedIds = Model.RequestInputs["DepartmentId"]

    }
},
     new GridField("Subject.Image",  "http://localhost:90/ws/Images/SubjectImages/", "Image",1){
        Filter = new GridFieldFilter()
        {
             Type = GridFieldFilterType.Photo,
        }
    },
new GridField("Tracks","SubjectId","Show Tracks","/Tracks?SubjectId=",true )
{
Filter = new GridFieldFilter()
{
    Type = GridFieldFilterType.HyperLink
}
},

}
    });
}
<style>
    #edt {
        display: none;
    }

    #det {
        display: none;
    }

    #crt {
        display: none;
    }
    #txt {
        display: none;
    }
</style>
